h1 {
    margin: 5px;
}

h2 {
    padding: 5px 5px 0px 5px;
}

#unit-column {
    margin: 5px;
}

#reps-column {
    margin: 5px;
}

.button.is-focused {
    margin: 5px;
}

.input.is-focused {
    margin: 5px;
}

.select {
    margin: 5px;
}

#unit-warning {
    color: rgba(255, 0, 0, .65);
    margin: 3px 5px;
    display: none;
}

#reps-warning {
    color: rgba(255, 0, 0, .65);
    margin: 3px 5px;
    display: none;
}

#circleContainer {
    height: fit-content;
}

#weight {
    width: 50%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-content {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

#weatherDiv {
    padding: 20px;
    margin-left: 30px;
    width: 75%;
    background: #f0efef;
}
#weatherArticle {
    background: #f0efef;
}

article {
    background: #f0efef;
}

#activitySubmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}